  body{
background-color:rgb(215, 179, 245);
  }
  i{
color:rgb(6, 6, 145);
background-color: rgb(111, 214, 245);
  }

  button{
color:rgb(75, 2, 63);
background-color: rgb(245, 151, 245);
  }